@import "@patternfly/patternfly/base/patternfly-variables.scss";

$grid-gutter-width: 30px;
$font-size-base: 1;

$pf-global--breakpoint--xs: 0 !default;
$pf-global--breakpoint--sm: 236px !default;
$pf-global--breakpoint--md: 428px !default;
$pf-global--breakpoint--lg: 652px !default;
$pf-global--breakpoint--xl: 860px !default;
$pf-global--breakpoint--2xl: 1110px !default;
